{% extends 'core/PlantillaJuegos.html' %}
{% load static %}

{% block Titulo %}
<title>{{ titulo }}</title>
{% endblock Titulo %}

{% block Imagen %}
<img alt="Sin foto" class="imagen" src="{{ ImagenJ }}">
{% endblock Imagen %}

{% block Nombre %}
<h4>{{NombreJ}}</h4>
{% endblock Nombre %}

{% block Descripcion %}
<p>{{descripcion}}</p>
{% endblock Descripcion %}

{% block Precio %}
<h3>{{PrecioJ}}</h3>
{% endblock Precio %}

{% block Video %}
<iframe src= {{VideoJ}} title="YouTube video" allowfullscreen></iframe>
{% endblock Video %}

{% block Info1 %}
<li>{{Info1}}</li>
{% endblock Info1 %}

{% block Info2 %}
<li>{{Info2}}</li>
{% endblock Info2 %}

{% block Info3 %}
<li>{{Info3}}</li>
{% endblock Info3 %}

{% block Info4 %}
<li>{{Info4}}</li>
{% endblock Info4 %}

{% block Info5 %}
<li>{{Info5}}</li>
{% endblock Info5 %}